<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.st.mapper.StErpVoucherMapper">

    <!-- ERP 전표 조회 조건 -->
    <sql id="stErpVoucherCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND v.site_id = #{p.siteId}</if>
            <if test="p.vendorId != null and p.vendorId != ''">AND v.vendor_id = #{p.vendorId}</if>
            <if test="p.status != null and p.status != ''">AND v.erp_voucher_status_cd = #{p.status}</if>
            <if test="p.typeCd != null and p.typeCd != ''">AND v.erp_voucher_type_cd = #{p.typeCd}</if>
            <if test="p.dateStart != null and p.dateStart != ''">AND v.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND v.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- ERP 전표 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.st.data.dto.StErpVoucherDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            vnd.vendor_nm AS vendor_nm,
            cd_evt.code_label AS erp_voucher_type_cd_nm,
            cd_evs.code_label AS erp_voucher_status_cd_nm
        FROM st_erp_voucher v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_vendor vnd ON vnd.vendor_id = v.vendor_id
            LEFT JOIN sy_code cd_evt ON cd_evt.code_grp = 'ERP_VOUCHER_TYPE' AND cd_evt.code_value = v.erp_voucher_type_cd
            LEFT JOIN sy_code cd_evs ON cd_evs.code_grp = 'ERP_VOUCHER_STATUS' AND cd_evs.code_value = v.erp_voucher_status_cd
        WHERE v.erp_voucher_id = #{id}
    </select>

    <!-- ERP 전표 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.st.data.dto.StErpVoucherDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            vnd.vendor_nm AS vendor_nm,
            cd_evt.code_label AS erp_voucher_type_cd_nm,
            cd_evs.code_label AS erp_voucher_status_cd_nm
        FROM st_erp_voucher v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_vendor vnd ON vnd.vendor_id = v.vendor_id
            LEFT JOIN sy_code cd_evt ON cd_evt.code_grp = 'ERP_VOUCHER_TYPE' AND cd_evt.code_value = v.erp_voucher_type_cd
            LEFT JOIN sy_code cd_evs ON cd_evs.code_grp = 'ERP_VOUCHER_STATUS' AND cd_evs.code_value = v.erp_voucher_status_cd
            <include refid="stErpVoucherCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY v.erp_voucher_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY v.erp_voucher_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY v.settle_ym ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY v.settle_ym DESC</when>
            <otherwise>ORDER BY v.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <!-- ERP 전표 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.st.data.dto.StErpVoucherDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            vnd.vendor_nm AS vendor_nm,
            cd_evt.code_label AS erp_voucher_type_cd_nm,
            cd_evs.code_label AS erp_voucher_status_cd_nm
        FROM st_erp_voucher v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_vendor vnd ON vnd.vendor_id = v.vendor_id
            LEFT JOIN sy_code cd_evt ON cd_evt.code_grp = 'ERP_VOUCHER_TYPE' AND cd_evt.code_value = v.erp_voucher_type_cd
            LEFT JOIN sy_code cd_evs ON cd_evs.code_grp = 'ERP_VOUCHER_STATUS' AND cd_evs.code_value = v.erp_voucher_status_cd
            <include refid="stErpVoucherCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY v.erp_voucher_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY v.erp_voucher_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY v.settle_ym ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY v.settle_ym DESC</when>
            <otherwise>ORDER BY v.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <!-- ERP 전표 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM st_erp_voucher v
            <include refid="stErpVoucherCond"/>
    </select>

    <!-- ERP 전표 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.st.data.entity.StErpVoucher">
        UPDATE st_erp_voucher
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="settleId != null">settle_id = #{settleId},</if>
            <if test="settleYm != null">settle_ym = #{settleYm},</if>
            <if test="erpVoucherTypeCd != null">erp_voucher_type_cd = #{erpVoucherTypeCd},</if>
            <if test="erpVoucherStatusCd != null">erp_voucher_status_cd = #{erpVoucherStatusCd},</if>
            <if test="erpVoucherStatusCdBefore != null">erp_voucher_status_cd_before = #{erpVoucherStatusCdBefore},</if>
            <if test="voucherDate != null">voucher_date = #{voucherDate},</if>
            <if test="erpVoucherDesc != null">erp_voucher_desc = #{erpVoucherDesc},</if>
            <if test="totalDebitAmt != null">total_debit_amt = #{totalDebitAmt},</if>
            <if test="totalCreditAmt != null">total_credit_amt = #{totalCreditAmt},</if>
            <if test="erpSendDate != null">erp_send_date = #{erpSendDate},</if>
            <if test="erpVoucherNo != null">erp_voucher_no = #{erpVoucherNo},</if>
            <if test="erpResMsg != null">erp_res_msg = #{erpResMsg},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE erp_voucher_id = #{erpVoucherId}
    </update>

</mapper>
