<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.mb.mapper.MbhMemberTokenLogMapper">

    <!-- 회원 토큰 로그 조회 조건 -->
    <sql id="mbhMemberTokenLogCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND l.site_id = #{p.siteId}</if>
            <if test="p.typeCd != null and p.typeCd != ''">AND l.token_type_cd = #{p.typeCd}</if>
            <if test="p.dateStart != null and p.dateStart != ''">AND l.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND l.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 회원 토큰 로그 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbhMemberTokenLogDto">
        SELECT
            l.*,
            ste.site_nm AS site_nm,
            mem.member_nm AS member_nm,
            cd_ta.code_label AS action_cd_nm,
            cd_tt.code_label AS token_type_cd_nm
        FROM mbh_member_token_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN sy_code cd_ta ON cd_ta.code_grp = 'TOKEN_ACTION' AND cd_ta.code_value = l.action_cd
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TOKEN_TYPE' AND cd_tt.code_value = l.token_type_cd
        WHERE l.log_id = #{id}
    </select>

    <!-- 회원 토큰 로그 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbhMemberTokenLogDto">
        SELECT
            l.*,
            ste.site_nm AS site_nm,
            mem.member_nm AS member_nm,
            cd_ta.code_label AS action_cd_nm,
            cd_tt.code_label AS token_type_cd_nm
        FROM mbh_member_token_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN sy_code cd_ta ON cd_ta.code_grp = 'TOKEN_ACTION' AND cd_ta.code_value = l.action_cd
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TOKEN_TYPE' AND cd_tt.code_value = l.token_type_cd
            <include refid="mbhMemberTokenLogCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY l.log_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY l.log_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <!-- 회원 토큰 로그 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbhMemberTokenLogDto">
        SELECT
            l.*,
            ste.site_nm AS site_nm,
            mem.member_nm AS member_nm,
            cd_ta.code_label AS action_cd_nm,
            cd_tt.code_label AS token_type_cd_nm
        FROM mbh_member_token_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN sy_code cd_ta ON cd_ta.code_grp = 'TOKEN_ACTION' AND cd_ta.code_value = l.action_cd
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TOKEN_TYPE' AND cd_tt.code_value = l.token_type_cd
            <include refid="mbhMemberTokenLogCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY l.log_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY l.log_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <!-- 회원 토큰 로그 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM mbh_member_token_log l
            <include refid="mbhMemberTokenLogCond"/>
    </select>

</mapper>
