<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.pd.mapper.PdCategoryProdMapper">

    <!-- 카테고리-상품 매핑 조회 조건 -->
    <sql id="pdCategoryProdCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND p.site_id = #{p.siteId}</if>
            <if test="p.typeCd != null and p.typeCd != ''">AND p.category_prod_type_cd = #{p.typeCd}</if>
            <if test="p.dateStart != null and p.dateStart != ''">AND p.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND p.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 카테고리-상품 매핑 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdCategoryProdDto">
        SELECT
            p.*,
            ste.site_nm AS site_nm,
            cat.category_nm AS category_nm,
            prd.prod_nm AS prod_nm
        FROM pd_category_prod p
            LEFT JOIN sy_site ste ON ste.site_id = p.site_id
            LEFT JOIN pd_category cat ON cat.category_id = p.category_id
            LEFT JOIN pd_prod prd ON prd.prod_id = p.prod_id
        WHERE p.category_prod_id = #{id}
    </select>

    <!-- 카테고리-상품 매핑 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdCategoryProdDto">
        SELECT
            p.*,
            ste.site_nm AS site_nm,
            cat.category_nm AS category_nm,
            prd.prod_nm AS prod_nm
        FROM pd_category_prod p
            LEFT JOIN sy_site ste ON ste.site_id = p.site_id
            LEFT JOIN pd_category cat ON cat.category_id = p.category_id
            LEFT JOIN pd_prod prd ON prd.prod_id = p.prod_id
            <include refid="pdCategoryProdCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY p.category_prod_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY p.category_prod_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY p.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY p.reg_date DESC</when>
            <otherwise>ORDER BY p.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <!-- 카테고리-상품 매핑 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdCategoryProdDto">
        SELECT
            p.*,
            ste.site_nm AS site_nm,
            cat.category_nm AS category_nm,
            prd.prod_nm AS prod_nm
        FROM pd_category_prod p
            LEFT JOIN sy_site ste ON ste.site_id = p.site_id
            LEFT JOIN pd_category cat ON cat.category_id = p.category_id
            LEFT JOIN pd_prod prd ON prd.prod_id = p.prod_id
            <include refid="pdCategoryProdCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY p.category_prod_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY p.category_prod_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY p.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY p.reg_date DESC</when>
            <otherwise>ORDER BY p.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <!-- 카테고리-상품 매핑 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM pd_category_prod p
            <include refid="pdCategoryProdCond"/>
    </select>

    <!-- 카테고리-상품 매핑 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.pd.data.entity.PdCategoryProd">
        UPDATE pd_category_prod
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="prodId != null">prod_id = #{prodId},</if>
            <if test="categoryProdTypeCd != null">category_prod_type_cd = #{categoryProdTypeCd},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="emphasisCd != null">emphasis_cd = #{emphasisCd},</if>
            <if test="dispYn != null">disp_yn = #{dispYn},</if>
            <if test="dispStartDate != null">disp_start_date = #{dispStartDate},</if>
            <if test="dispEndDate != null">disp_end_date = #{dispEndDate},</if>
        </set>
        WHERE category_prod_id = #{categoryProdId}
    </update>

</mapper>
