<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.pd.mapper.PdProdOptItemMapper">

    <!-- 상품 옵션 아이템 조회 조건 -->
    <sql id="pdProdOptItemCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND i.site_id = #{p.siteId}</if>
            <if test="p.typeCd != null and p.typeCd != ''">AND i.opt_type_cd = #{p.typeCd}</if>
            <if test="p.kw != null and p.kw != ''">
                AND (i.opt_nm ILIKE '%' || #{p.kw} || '%')
            </if>
            <if test="p.dateStart != null and p.dateStart != ''">AND i.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND i.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 상품 옵션 아이템 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdProdOptItemDto">
        SELECT
            i.*,
            ste.site_nm AS site_nm,
            opt.opt_grp_nm AS opt_id_nm,
            ite.opt_nm AS parent_opt_item_nm,
            cd_ot.code_label AS opt_type_cd_nm
        FROM pd_prod_opt_item i
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            LEFT JOIN pd_prod_opt opt ON opt.opt_id = i.opt_id
            LEFT JOIN pd_prod_opt_item ite ON ite.opt_item_id = i.parent_opt_item_id
            LEFT JOIN sy_code cd_ot ON cd_ot.code_grp = 'OPT_TYPE' AND cd_ot.code_value = i.opt_type_cd
        WHERE i.opt_item_id = #{id}
    </select>

    <!-- 상품 옵션 아이템 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdProdOptItemDto">
        SELECT
            i.*,
            ste.site_nm AS site_nm,
            opt.opt_grp_nm AS opt_id_nm,
            ite.opt_nm AS parent_opt_item_nm,
            cd_ot.code_label AS opt_type_cd_nm
        FROM pd_prod_opt_item i
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            LEFT JOIN pd_prod_opt opt ON opt.opt_id = i.opt_id
            LEFT JOIN pd_prod_opt_item ite ON ite.opt_item_id = i.parent_opt_item_id
            LEFT JOIN sy_code cd_ot ON cd_ot.code_grp = 'OPT_TYPE' AND cd_ot.code_value = i.opt_type_cd
            <include refid="pdProdOptItemCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY i.opt_item_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY i.opt_item_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY i.opt_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY i.opt_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY i.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY i.reg_date DESC</when>
            <otherwise>ORDER BY i.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <!-- 상품 옵션 아이템 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdProdOptItemDto">
        SELECT
            i.*,
            ste.site_nm AS site_nm,
            opt.opt_grp_nm AS opt_id_nm,
            ite.opt_nm AS parent_opt_item_nm,
            cd_ot.code_label AS opt_type_cd_nm
        FROM pd_prod_opt_item i
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            LEFT JOIN pd_prod_opt opt ON opt.opt_id = i.opt_id
            LEFT JOIN pd_prod_opt_item ite ON ite.opt_item_id = i.parent_opt_item_id
            LEFT JOIN sy_code cd_ot ON cd_ot.code_grp = 'OPT_TYPE' AND cd_ot.code_value = i.opt_type_cd
            <include refid="pdProdOptItemCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY i.opt_item_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY i.opt_item_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY i.opt_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY i.opt_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY i.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY i.reg_date DESC</when>
            <otherwise>ORDER BY i.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <!-- 상품 옵션 아이템 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM pd_prod_opt_item i
            <include refid="pdProdOptItemCond"/>
    </select>

    <!-- 상품 옵션 아이템 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.pd.data.entity.PdProdOptItem">
        UPDATE pd_prod_opt_item
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="optId != null">opt_id = #{optId},</if>
            <if test="optTypeCd != null">opt_type_cd = #{optTypeCd},</if>
            <if test="optNm != null">opt_nm = #{optNm},</if>
            <if test="optVal != null">opt_val = #{optVal},</if>
            <if test="optValCodeId != null">opt_val_code_id = #{optValCodeId},</if>
            <if test="parentOptItemId != null">parent_opt_item_id = #{parentOptItemId},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE opt_item_id = #{optItemId}
    </update>

</mapper>
