<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyhBatchLogMapper">

    <sql id="syhBatchLogCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND l.site_id = #{p.siteId}</if>
            <if test="p.kw != null and p.kw != ''">
                AND (l.batch_nm ILIKE '%' || #{p.kw} || '%')
            </if>
            <if test="p.dateStart != null and p.dateStart != ''">AND l.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND l.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhBatchLogDto">
        SELECT
            l.*,
            ste.site_nm AS site_nm
        FROM syh_batch_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
        WHERE l.batch_log_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhBatchLogDto">
        SELECT
            l.*,
            ste.site_nm AS site_nm
        FROM syh_batch_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            <include refid="syhBatchLogCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY l.batch_log_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY l.batch_log_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY l.batch_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY l.batch_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhBatchLogDto">
        SELECT
            l.*,
            ste.site_nm AS site_nm
        FROM syh_batch_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            <include refid="syhBatchLogCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY l.batch_log_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY l.batch_log_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY l.batch_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY l.batch_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM syh_batch_log l
            <include refid="syhBatchLogCond"/>
    </select>

</mapper>
