<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyI18nMsgMapper">

    <!-- 다국어 메시지 조회 조건 -->
    <sql id="syI18nMsgCond">
        <where>
            <if test="p.dateStart != null and p.dateStart != ''">AND m.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND m.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 다국어 메시지 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyI18nMsgDto">
        SELECT
            m.*,
            cd_lc.code_label AS lang_cd_nm
        FROM sy_i18n_msg m
            LEFT JOIN sy_code cd_lc ON cd_lc.code_grp = 'LANG_CODE' AND cd_lc.code_value = m.lang_cd
        WHERE m.i18n_msg_id = #{id}
    </select>

    <!-- 다국어 메시지 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyI18nMsgDto">
        SELECT
            m.*,
            cd_lc.code_label AS lang_cd_nm
        FROM sy_i18n_msg m
            LEFT JOIN sy_code cd_lc ON cd_lc.code_grp = 'LANG_CODE' AND cd_lc.code_value = m.lang_cd
            <include refid="syI18nMsgCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY m.i18n_msg_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY m.i18n_msg_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY m.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY m.reg_date DESC</when>
            <otherwise>ORDER BY m.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <!-- 다국어 메시지 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyI18nMsgDto">
        SELECT
            m.*,
            cd_lc.code_label AS lang_cd_nm
        FROM sy_i18n_msg m
            LEFT JOIN sy_code cd_lc ON cd_lc.code_grp = 'LANG_CODE' AND cd_lc.code_value = m.lang_cd
            <include refid="syI18nMsgCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY m.i18n_msg_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY m.i18n_msg_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY m.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY m.reg_date DESC</when>
            <otherwise>ORDER BY m.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <!-- 다국어 메시지 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM sy_i18n_msg m
            <include refid="syI18nMsgCond"/>
    </select>

    <!-- 다국어 메시지 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyI18nMsg">
        UPDATE sy_i18n_msg
        <set>
            <if test="i18nId != null">i18n_id = #{i18nId},</if>
            <if test="langCd != null">lang_cd = #{langCd},</if>
            <if test="i18nMsg != null">i18n_msg = #{i18nMsg},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE i18n_msg_id = #{i18nMsgId}
    </update>

</mapper>
