<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyTemplateMapper">

    <sql id="syTemplateCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND t.site_id = #{p.siteId}</if>
            <if test="p.typeCd != null and p.typeCd != ''">AND t.template_type_cd = #{p.typeCd}</if>
            <if test="p.kw != null and p.kw != ''">
                AND (t.template_nm ILIKE '%' || #{p.kw} || '%')
            </if>
            <if test="p.dateStart != null and p.dateStart != ''">AND t.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND t.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyTemplateDto">
        SELECT
            t.*,
            ste.site_nm AS site_nm,
            cd_tt.code_label AS template_type_cd_nm
        FROM sy_template t
            LEFT JOIN sy_site ste ON ste.site_id = t.site_id
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TEMPLATE_TYPE' AND cd_tt.code_value = t.template_type_cd
        WHERE t.template_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyTemplateDto">
        SELECT
            t.*,
            ste.site_nm AS site_nm,
            cd_tt.code_label AS template_type_cd_nm
        FROM sy_template t
            LEFT JOIN sy_site ste ON ste.site_id = t.site_id
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TEMPLATE_TYPE' AND cd_tt.code_value = t.template_type_cd
            <include refid="syTemplateCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY t.template_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY t.template_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY t.template_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY t.template_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY t.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY t.reg_date DESC</when>
            <otherwise>ORDER BY t.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyTemplateDto">
        SELECT
            t.*,
            ste.site_nm AS site_nm,
            cd_tt.code_label AS template_type_cd_nm
        FROM sy_template t
            LEFT JOIN sy_site ste ON ste.site_id = t.site_id
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TEMPLATE_TYPE' AND cd_tt.code_value = t.template_type_cd
            <include refid="syTemplateCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY t.template_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY t.template_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY t.template_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY t.template_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY t.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY t.reg_date DESC</when>
            <otherwise>ORDER BY t.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM sy_template t
            <include refid="syTemplateCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyTemplate">
        UPDATE sy_template
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="templateTypeCd != null">template_type_cd = #{templateTypeCd},</if>
            <if test="templateCode != null">template_code = #{templateCode},</if>
            <if test="templateNm != null">template_nm = #{templateNm},</if>
            <if test="templateSubject != null">template_subject = #{templateSubject},</if>
            <if test="templateContent != null">template_content = #{templateContent},</if>
            <if test="sampleParams != null">sample_params = #{sampleParams},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
            <if test="dispPath != null">disp_path = #{dispPath},</if>
        </set>
        WHERE template_id = #{templateId}
    </update>

</mapper>
