<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyUserRoleMapper">

    <sql id="syUserRoleCond">
        <where>
            <if test="p.dateStart != null and p.dateStart != ''">AND r.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND r.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyUserRoleDto">
        SELECT
            r.*,
            usr.user_nm AS user_nm,
            rol.role_nm AS role_nm,
            usr2.user_nm AS grant_user_nm
        FROM sy_user_role r
            LEFT JOIN sy_user usr ON usr.user_id = r.user_id
            LEFT JOIN sy_role rol ON rol.role_id = r.role_id
            LEFT JOIN sy_user usr2 ON usr2.user_id = r.grant_user_id
        WHERE r.user_role_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyUserRoleDto">
        SELECT
            r.*,
            usr.user_nm AS user_nm,
            rol.role_nm AS role_nm,
            usr2.user_nm AS grant_user_nm
        FROM sy_user_role r
            LEFT JOIN sy_user usr ON usr.user_id = r.user_id
            LEFT JOIN sy_role rol ON rol.role_id = r.role_id
            LEFT JOIN sy_user usr2 ON usr2.user_id = r.grant_user_id
            <include refid="syUserRoleCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY r.user_role_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY r.user_role_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY r.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY r.reg_date DESC</when>
            <otherwise>ORDER BY r.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyUserRoleDto">
        SELECT
            r.*,
            usr.user_nm AS user_nm,
            rol.role_nm AS role_nm,
            usr2.user_nm AS grant_user_nm
        FROM sy_user_role r
            LEFT JOIN sy_user usr ON usr.user_id = r.user_id
            LEFT JOIN sy_role rol ON rol.role_id = r.role_id
            LEFT JOIN sy_user usr2 ON usr2.user_id = r.grant_user_id
            <include refid="syUserRoleCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY r.user_role_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY r.user_role_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY r.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY r.reg_date DESC</when>
            <otherwise>ORDER BY r.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM sy_user_role r
            <include refid="syUserRoleCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyUserRole">
        UPDATE sy_user_role
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="grantUserId != null">grant_user_id = #{grantUserId},</if>
            <if test="grantDate != null">grant_date = #{grantDate},</if>
            <if test="validFrom != null">valid_from = #{validFrom},</if>
            <if test="validTo != null">valid_to = #{validTo},</if>
            <if test="userRoleRemark != null">user_role_remark = #{userRoleRemark},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE user_role_id = #{userRoleId}
    </update>

</mapper>
