<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyVendorMapper">

    <sql id="syVendorCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND v.site_id = #{p.siteId}</if>
            <if test="p.vendorId != null and p.vendorId != ''">AND v.vendor_id = #{p.vendorId}</if>
            <if test="p.status != null and p.status != ''">AND v.vendor_status_cd = #{p.status}</if>
            <if test="p.kw != null and p.kw != ''">
                AND (v.vendor_nm ILIKE '%' || #{p.kw} || '%'
                  OR v.ceo_nm ILIKE '%' || #{p.kw} || '%')
            </if>
            <if test="p.dateStart != null and p.dateStart != ''">AND v.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND v.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVendorDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            cd_vc.code_label AS vendor_class_cd_nm,
            cd_vs.code_label AS vendor_status_cd_nm
        FROM sy_vendor v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vc ON cd_vc.code_grp = 'VENDOR_CLASS' AND cd_vc.code_value = v.vendor_class_cd
            LEFT JOIN sy_code cd_vs ON cd_vs.code_grp = 'VENDOR_STATUS' AND cd_vs.code_value = v.vendor_status_cd
        WHERE v.vendor_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVendorDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            cd_vc.code_label AS vendor_class_cd_nm,
            cd_vs.code_label AS vendor_status_cd_nm
        FROM sy_vendor v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vc ON cd_vc.code_grp = 'VENDOR_CLASS' AND cd_vc.code_value = v.vendor_class_cd
            LEFT JOIN sy_code cd_vs ON cd_vs.code_grp = 'VENDOR_STATUS' AND cd_vs.code_value = v.vendor_status_cd
            <include refid="syVendorCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY v.vendor_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY v.vendor_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY v.vendor_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY v.vendor_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY v.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY v.reg_date DESC</when>
            <otherwise>ORDER BY v.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVendorDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            cd_vc.code_label AS vendor_class_cd_nm,
            cd_vs.code_label AS vendor_status_cd_nm
        FROM sy_vendor v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vc ON cd_vc.code_grp = 'VENDOR_CLASS' AND cd_vc.code_value = v.vendor_class_cd
            LEFT JOIN sy_code cd_vs ON cd_vs.code_grp = 'VENDOR_STATUS' AND cd_vs.code_value = v.vendor_status_cd
            <include refid="syVendorCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY v.vendor_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY v.vendor_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY v.vendor_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY v.vendor_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY v.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY v.reg_date DESC</when>
            <otherwise>ORDER BY v.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM sy_vendor v
            <include refid="syVendorCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyVendor">
        UPDATE sy_vendor
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="vendorNo != null">vendor_no = #{vendorNo},</if>
            <if test="corpNo != null">corp_no = #{corpNo},</if>
            <if test="vendorNm != null">vendor_nm = #{vendorNm},</if>
            <if test="vendorNmEn != null">vendor_nm_en = #{vendorNmEn},</if>
            <if test="ceoNm != null">ceo_nm = #{ceoNm},</if>
            <if test="vendorType != null">vendor_type = #{vendorType},</if>
            <if test="vendorItem != null">vendor_item = #{vendorItem},</if>
            <if test="vendorClassCd != null">vendor_class_cd = #{vendorClassCd},</if>
            <if test="vendorZipCode != null">vendor_zip_code = #{vendorZipCode},</if>
            <if test="vendorAddr != null">vendor_addr = #{vendorAddr},</if>
            <if test="vendorAddrDetail != null">vendor_addr_detail = #{vendorAddrDetail},</if>
            <if test="vendorPhone != null">vendor_phone = #{vendorPhone},</if>
            <if test="vendorFax != null">vendor_fax = #{vendorFax},</if>
            <if test="vendorEmail != null">vendor_email = #{vendorEmail},</if>
            <if test="vendorHomepage != null">vendor_homepage = #{vendorHomepage},</if>
            <if test="vendorBankNm != null">vendor_bank_nm = #{vendorBankNm},</if>
            <if test="vendorBankAccount != null">vendor_bank_account = #{vendorBankAccount},</if>
            <if test="vendorBankHolder != null">vendor_bank_holder = #{vendorBankHolder},</if>
            <if test="vendorRegUrl != null">vendor_reg_url = #{vendorRegUrl},</if>
            <if test="openDate != null">open_date = #{openDate},</if>
            <if test="contractDate != null">contract_date = #{contractDate},</if>
            <if test="vendorStatusCd != null">vendor_status_cd = #{vendorStatusCd},</if>
            <if test="dispPath != null">disp_path = #{dispPath},</if>
            <if test="vendorRemark != null">vendor_remark = #{vendorRemark},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE vendor_id = #{vendorId}
    </update>

</mapper>
