<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyVendorBrandMapper">

    <sql id="syVendorBrandCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND b.site_id = #{p.siteId}</if>
            <if test="p.vendorId != null and p.vendorId != ''">AND b.vendor_id = #{p.vendorId}</if>
            <if test="p.dateStart != null and p.dateStart != ''">AND b.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND b.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVendorBrandDto">
        SELECT
            b.*,
            ste.site_nm AS site_nm,
            vnd.vendor_nm AS vendor_nm,
            brd.brand_nm AS brand_nm,
            cd_vbc.code_label AS contract_cd_nm
        FROM sy_vendor_brand b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN sy_vendor vnd ON vnd.vendor_id = b.vendor_id
            LEFT JOIN sy_brand brd ON brd.brand_id = b.brand_id
            LEFT JOIN sy_code cd_vbc ON cd_vbc.code_grp = 'VENDOR_BRAND_CONTRACT' AND cd_vbc.code_value = b.contract_cd
        WHERE b.vendor_brand_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVendorBrandDto">
        SELECT
            b.*,
            ste.site_nm AS site_nm,
            vnd.vendor_nm AS vendor_nm,
            brd.brand_nm AS brand_nm,
            cd_vbc.code_label AS contract_cd_nm
        FROM sy_vendor_brand b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN sy_vendor vnd ON vnd.vendor_id = b.vendor_id
            LEFT JOIN sy_brand brd ON brd.brand_id = b.brand_id
            LEFT JOIN sy_code cd_vbc ON cd_vbc.code_grp = 'VENDOR_BRAND_CONTRACT' AND cd_vbc.code_value = b.contract_cd
            <include refid="syVendorBrandCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY b.vendor_brand_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY b.vendor_brand_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY b.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY b.reg_date DESC</when>
            <otherwise>ORDER BY b.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVendorBrandDto">
        SELECT
            b.*,
            ste.site_nm AS site_nm,
            vnd.vendor_nm AS vendor_nm,
            brd.brand_nm AS brand_nm,
            cd_vbc.code_label AS contract_cd_nm
        FROM sy_vendor_brand b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN sy_vendor vnd ON vnd.vendor_id = b.vendor_id
            LEFT JOIN sy_brand brd ON brd.brand_id = b.brand_id
            LEFT JOIN sy_code cd_vbc ON cd_vbc.code_grp = 'VENDOR_BRAND_CONTRACT' AND cd_vbc.code_value = b.contract_cd
            <include refid="syVendorBrandCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY b.vendor_brand_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY b.vendor_brand_id DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY b.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY b.reg_date DESC</when>
            <otherwise>ORDER BY b.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM sy_vendor_brand b
            <include refid="syVendorBrandCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyVendorBrand">
        UPDATE sy_vendor_brand
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="contractCd != null">contract_cd = #{contractCd},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="commissionRate != null">commission_rate = #{commissionRate},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="vendorBrandRemark != null">vendor_brand_remark = #{vendorBrandRemark},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE vendor_brand_id = #{vendorBrandId}
    </update>

</mapper>
