<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyVocMapper">

    <sql id="syVocCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND v.site_id = #{p.siteId}</if>
            <if test="p.kw != null and p.kw != ''">
                AND (v.voc_nm ILIKE '%' || #{p.kw} || '%')
            </if>
            <if test="p.dateStart != null and p.dateStart != ''">AND v.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND v.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVocDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            cd_vm.code_label AS voc_master_cd_nm,
            cd_vd.code_label AS voc_detail_cd_nm
        FROM sy_voc v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vm ON cd_vm.code_grp = 'VOC_MASTER' AND cd_vm.code_value = v.voc_master_cd
            LEFT JOIN sy_code cd_vd ON cd_vd.code_grp = 'VOC_DETAIL' AND cd_vd.code_value = v.voc_detail_cd
        WHERE v.voc_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVocDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            cd_vm.code_label AS voc_master_cd_nm,
            cd_vd.code_label AS voc_detail_cd_nm
        FROM sy_voc v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vm ON cd_vm.code_grp = 'VOC_MASTER' AND cd_vm.code_value = v.voc_master_cd
            LEFT JOIN sy_code cd_vd ON cd_vd.code_grp = 'VOC_DETAIL' AND cd_vd.code_value = v.voc_detail_cd
            <include refid="syVocCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY v.voc_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY v.voc_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY v.voc_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY v.voc_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY v.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY v.reg_date DESC</when>
            <otherwise>ORDER BY v.reg_date DESC</otherwise>
        </choose>
        <if test="p.limit != null and p.offset != null">LIMIT #{p.limit} OFFSET #{p.offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVocDto">
        SELECT
            v.*,
            ste.site_nm AS site_nm,
            cd_vm.code_label AS voc_master_cd_nm,
            cd_vd.code_label AS voc_detail_cd_nm
        FROM sy_voc v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vm ON cd_vm.code_grp = 'VOC_MASTER' AND cd_vm.code_value = v.voc_master_cd
            LEFT JOIN sy_code cd_vd ON cd_vd.code_grp = 'VOC_DETAIL' AND cd_vd.code_value = v.voc_detail_cd
            <include refid="syVocCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY v.voc_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY v.voc_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY v.voc_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY v.voc_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY v.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY v.reg_date DESC</when>
            <otherwise>ORDER BY v.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM sy_voc v
            <include refid="syVocCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyVoc">
        UPDATE sy_voc
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="vocMasterCd != null">voc_master_cd = #{vocMasterCd},</if>
            <if test="vocDetailCd != null">voc_detail_cd = #{vocDetailCd},</if>
            <if test="vocNm != null">voc_nm = #{vocNm},</if>
            <if test="vocContent != null">voc_content = #{vocContent},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE voc_id = #{vocId}
    </update>

</mapper>
